<form action="/books" method="post">
  <label>Title:</label>
  <input type="text" id="name" name="name" >

  <label>Author:</label>
  <input type="text" id="author" name="author" >

  <label>Genre:</label>
  <input type="text" id="genre" name="genre" >

  <label>Publication Date:</label>
  <input type="text" id="publication_date" name="publication_date" >

  <label>Personal Notes:</label>
  <input type="text" id="personal_notes" name="personal_notes" >

<input type="submit" name="submit" id="submit" >
</form>